---
import Default from "../../layouts/Default.astro";
import PostCard from "../../components/PostCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Default
  title="Blog"
  description="Articles de fond sur le développement web, les architectures modernes, les bonnes pratiques DevOps, les frameworks JS et l'optimisation des performances."
>
  <div class="h-full w-full flex flex-col justify-center items-center">
    <h3
      class="text-5xl font-montserrat-alternates text-center font-semibold uppercase"
    >
      Articles
    </h3>

    {
      posts.length === 0 && (
        <div class="flex flex-col justify-center items-center w-full min-h-96">
          <h2 class="text-xl font-montserrat-alternates font-semibold">
            Aucun article pour le moment.
          </h2>
        </div>
      )
    }
    <div class="h-full w-full mt-4 grid md:grid-cols-2 xl:grid-cols-3 gap-8">
      {
        posts.map((post) => (
          <PostCard page="blog" post={{ ...post.data, slug: post.slug }} />
        ))
      }
    </div>
  </div>
</Default>
