body {
    font-size: 16px;
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem 0;
    /* color: rgb(var(--black)); */
    color: rgb(221, 221, 221);
    line-height: 1.2;
}

/* table {
  color: #ddd;
} */
h1 {
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

strong,
b {
    font-weight: 700;
}

a {
    color: var(--accent);
}

a:hover {
    color: var(--accent);
}

p {
    margin-bottom: 1em;
    /* color: rgb(var(--gray-light)); */
    color: var(--text-white);
}

.prose p {
    margin-bottom: 2em;
}

textarea {
    width: 100%;
    font-size: 16px;
}

input {
    font-size: 16px;
}

table {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

code {
    padding: 2px 5px;
    background-color: #444;
    border-radius: 2px;
}

pre {
    padding: 1.5em;
    border-radius: 8px;
}

pre>code {
    all: unset;
}

blockquote {
    border-left: 4px solid var(--accent);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
}

hr {
    border: none;
    border-top: 1px solid #444;
}

ul {
    color: rgb(var(--gray-light));
}

@media (max-width: 720px) {
    body {
        font-size: 18px;
    }

    main {
        padding: 1em;
    }
}