body {
    cursor: none;
}

.cursor-dot {
    width: 5px;
    height: 5px;
    background: #fff;
}

.cursor-outline {
    width: 30px;
    height: 30px;
    border: 2px solid hsl(0, 0%, 100%, 0.5);
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
}

@media only screen and (max-width: 1280px) {

    .cursor-dot,
    .cursor-outline {
        display: none;
    }

    body {
        cursor: default;
    }
}