@font-face {
    font-family: 'Atkinson';
    font-style: normal;
    src: url('/fonts/Atkinson-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Jost';
    font-style: normal;
    src: url('/fonts/Jost-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Alternates';
    font-style: normal;
    src: url('/fonts/MontserratAlternates-Regular.ttf') format('truetype');
}