@import url(font.css);
/* @import url(dot.css); */
/* @import "atropos/css"; */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #005b82;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

* {
    /* border: 0.1px solid red !important; */
}

html.is-changing .transition-fade {
    transition: opacity 0.1s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}
