---
import Default from "../layouts/Default.astro";
---

<Default
  title="Page Introuvable – Aziz Chanou, Développeur Web Full-Stack"
  description="Cette page n'existe pas ou a été déplacée. Retournez à l'accueil du portfolio d'Aziz Chanou, expert en développement web JavaScript et PHP."
>
  <div class="flex justify-center items-center min-h-96 w-full">
    <h2
      class="text-white font-bold font-montserrat-alternates text-center text-9xl h-full"
    >
      Error 404
    </h2>
  </div>
</Default>
