---
import Default from "../layouts/Default.astro";

---

<Default title="Page not found">
  <div class="flex justify-center items-center min-h-96 w-full">
    <h2 class="text-white font-bold font-montserrat-alternates text-center text-9xl h-full">Error 404</h2>
  </div>
</Default>
