---
import PostCard from "../components/PostCard.astro";
import Default from "../layouts/Default.astro";
---

<Default>
  <div class="h-full w-full flex flex-col justify-center items-center">
    <h3 class="text-5xl font-montserrat-alternates font-medium">Articles</h3>
  </div>
</Default>
