---
import { Icon } from "astro-icon/components";
import Default from "../layouts/Default.astro";
---

<Default
  title="Contact – Let's Create Your Web Project Together"
  description="Need an expert for your web project? Contact Aziz Chanou to discuss your full-stack development or technical support needs."
>
  <div class="h-full w-full flex flex-col justify-center items-center">
    <h3
      class="text-5xl font-montserrat-alternates text-center font-semibold uppercase"
    >
      CONTACT
    </h3>
    <div
      class="py-16 mx-auto flex w-full flex-col lg:flex-row font-montserrat-alternates"
    >
      <div class="flex justify-center items-center w-full">
        <ul class="flex flex-col md:flex-row gap-8 mt-10 items-center text-2xl">
          <li>
            <a
              rel="noopener"
              target="_blank"
              aria-label="Phone Number"
              href="tel:+229 01 66 48 51 60"
              class="flex items-center space-x-3"
            >
              <Icon name="mdi:phone" class="text-3xl" />
              <span>+229 01 66 48 51 60</span>
            </a>
          </li>
          <li>
            <a
              rel="noopener"
              target="_blank"
              aria-label="Whatsapp"
              href="https://wa.me/qr/3NBE4KUGSOJEG1"
              class="flex items-center space-x-3"
            >
              <Icon name="mdi:whatsapp" class="text-3xl" />
              <span>+229 01 66 48 51 60</span>
            </a>
          </li>
          <li>
            <a
              rel="noopener"
              target="_blank"
              aria-label="Email"
              href="mailto:aziz@kyogre.dev"
              class="flex items-center space-x-3"
            >
              <Icon name="mdi:mail" class="text-3xl" />
              <span>aziz@kyogre.dev</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</Default>
