---
import Hero from "../components/Hero.astro";
import Default from "../layouts/Default.astro";
---

<Default>
  <div class="h-full w-full flex flex-col items-center justify-center">
    <Hero />
  </div>
</Default>
