---
import Hero from "../components/Hero.astro";
import Default from "../layouts/Default.astro";
---

<Default
  title="Aziz Chanou"
  description="Bienvenue sur le portfolio d'Aziz Chanou, développeur full-stack spécialisé en JavaScript et PHP. Découvrez mes projets, mes compétences et ma vision du développement logiciel moderne."
>
  <div class="h-full w-full flex flex-col items-center justify-center">
    <Hero />
  </div>
</Default>
