---
import ExperienceTimeline from "../components/ExperienceTimeline.astro";
import Hero from "../components/Hero.astro";
import Default from "../layouts/Default.astro";
---

<Default
  title="Aziz Chanou"
  description="Welcome to the portfolio of Aziz Chanou, a full-stack developer specializing in JavaScript and PHP. Discover my projects, my skills, and my vision of modern software development."
>
  <div class="h-full w-full flex flex-col items-center justify-center">
    <Hero />
    <ExperienceTimeline />
  </div>
</Default>
