---
import Default from "../layouts/Default.astro";
---

<Default>
  <div class="group/wrap relative font-montserrat-alternates">
    <div
      class="relative h-screen snap-y snap-mandatory overflow-y-auto scroll-smooth hide"
    >
      <div
        class="group flex h-screen w-full snap-start items-center justify-center"
      >
        <div>
          <div class="overflow-hidden font-clash text-7xl font-medium">
            <div
              class="group-hover/wrap:translate-y-full group-hover:animate-reveal"
            >
              Only
            </div>
          </div>
          <div class="overflow-hidden font-clash text-7xl font-medium">
            <div
              class="group-hover/wrap:translate-y-full group-hover:animate-reveal group-hover:animation-delay-300"
            >
              TailwindCSS
            </div>
          </div>
        </div>
      </div>

      <div
        class="group flex h-screen snap-start snap-always items-center justify-center"
      >
        <div>
          <div class="overflow-hidden font-clash text-7xl font-medium">
            <div
              class="group-hover/wrap:translate-y-full group-hover:animate-reveal"
            >
              Animate
            </div>
          </div>
          <div class="overflow-hidden font-clash text-7xl font-medium">
            <div
              class="group-hover/wrap:translate-y-full group-hover:animate-reveal group-hover:animation-delay-300"
            >
              Anything
            </div>
          </div>
        </div>
      </div>

      <div
        class="group flex h-screen snap-start snap-always items-center justify-center"
      >
        <div>
          <div class="overflow-hidden font-clash text-7xl font-medium">
            <div
              class="group-hover/wrap:translate-y-full group-hover:animate-reveal"
            >
              Activate
            </div>
          </div>
          <div class="overflow-hidden font-clash text-7xl font-medium">
            <div
              class="group-hover/wrap:translate-y-full group-hover:animate-reveal group-hover:animation-delay-300"
            >
              On Scroll
            </div>
          </div>
        </div>
      </div>

      <div
        class="group flex h-screen snap-start snap-always items-center justify-center"
      >
        <div>
          <div class="overflow-hidden font-clash text-7xl font-medium">
            <div
              class="group-hover/wrap:translate-y-full group-hover:animate-reveal"
            >
              Zero JS
            </div>
          </div>
          <div class="overflow-hidden font-clash text-7xl font-medium">
            <div
              class="group-hover/wrap:translate-y-full group-hover:animate-reveal group-hover:animation-delay-300"
            >
              And it works
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Default>
