---
import { Icon } from "astro-icon/components";
import Default from "../layouts/Default.astro";
---

<Default>
  <div class="h-full w-full flex flex-col justify-center items-center">
    <h3
      class="text-5xl font-montserrat-alternates text-center font-semibold uppercase"
    >
      Stack & Tools
    </h3>
    <div
      class="w-full flex flex-wrap gap-10 items-center justify-center mt-10 font-montserrat-alternates"
    >
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:vuejs"
          class="text-8xl hover:scale-150 hover:text-green-500 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          VueJS
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:nuxt"
          class="text-8xl hover:scale-150 hover:text-green-600 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          NuxtJS
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:react"
          class="text-8xl hover:scale-150 hover:text-blue-500 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          ReactJS
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:nodejs"
          class="text-8xl hover:scale-150 hover:text-green-800 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          NodeJS
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:tailwind"
          class="text-8xl hover:scale-150 hover:text-blue-300 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          TailwindCss
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:laravel"
          class="text-8xl hover:scale-150 hover:text-red-500 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          Laravel
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:language-javascript"
          class="text-8xl hover:scale-150 hover:text-yellow-300 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          JavaScript
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:language-typescript"
          class="text-8xl hover:scale-150 hover:text-blue-300 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          TypeScript
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:language-php"
          class="text-8xl hover:scale-150 hover:text-violet-500 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          PHP
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:language-html5"
          class="text-8xl hover:scale-150 hover:text-orange-500 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          Html 5
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:language-css3"
          class="text-8xl hover:scale-150 hover:text-blue-300 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          Css
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:language-markdown"
          class="text-8xl hover:scale-150 hover:text-slate-200 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          Markdown
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:api"
          class="text-8xl hover:scale-150 hover:text-gray-200 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          Rest API
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:git"
          class="text-8xl hover:scale-150 hover:text-orange-500 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          Git
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:github"
          class="text-8xl hover:scale-150 hover:text-gray-300 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          Github
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:gitlab"
          class="text-8xl hover:scale-150 hover:text-orange-500 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          Gitlab
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:microsoft-visual-studio-code"
          class="text-8xl hover:scale-150 hover:text-blue-700 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          VSCode
        </span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:eslint"
          class="text-8xl hover:scale-150 hover:text-purple-500 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">
          ESLint
        </span>
      </span>
    </div>
  </div>
</Default>
