---
import { Icon } from "astro-icon/components";
import Default from "../layouts/Default.astro";
---

<Default>
  <div class="h-full w-full flex flex-col justify-center items-center">
    <h3 class="text-5xl font-montserrat-alternates font-medium uppercase">
      Stack
    </h3>
    <div class="w-full flex flex-wrap gap-10 items-center justify-center mt-10 font-montserrat-alternates">
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:vuejs"
          class="text-8xl hover:scale-150 hover:text-green-500 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">VueJS</span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:nuxt"
          class="text-8xl hover:scale-150 hover:text-green-600 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">NuxtJS</span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:react"
          class="text-8xl hover:scale-150 hover:text-blue-500 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">ReactJS</span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:docker"
          class="text-8xl hover:scale-150 hover:text-blue-600 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">Docker</span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:git"
          class="text-8xl hover:scale-150 hover:text-orange-500 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">Git</span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:nodejs"
          class="text-8xl hover:scale-150 hover:text-green-800 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">NodeJS</span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:tailwind"
          class="text-8xl hover:scale-150 hover:text-blue-300 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">TailwindCss</span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:laravel"
          class="text-8xl hover:scale-150 hover:text-red-500 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">Laravel</span>
      </span>
      <span class="group flex flex-col items-center space-y-4">
        <Icon
          name="mdi:aws"
          class="text-8xl hover:scale-150 hover:text-orange-200 duration-300"
        />
        <span class="invisible group-hover:visible duration-300 text-2xl">Aws</span>
      </span>
    </div>
  </div>
</Default>
