---
import { Icon } from "astro-icon/components";
---

<header class="flex justify-between w-full text-2xl my-4 md:py-6">
  <div class="flex justify-between">
    <ul class="hidden space-x-4 md:flex">
      <li class="hover:text-slate-300 duration-300"><a href="/">Home</a></li>
      <li class="hover:text-slate-300 duration-300">
        <a href="/stack">Stack</a>
      </li>
      <li class="hover:text-slate-300 duration-300">
        <a href="/projects">Projects</a>
      </li>
      <li class="hover:text-slate-300 duration-300">
        <a href="/blog">Blog</a>
      </li>
      <li class="hover:text-slate-300 duration-300">
        <a href="/contacts">Contacts</a>
      </li>
    </ul>
    <button id="navMenu">
      <Icon name="mdi:menu" class="text-3xl block md:hidden" />
    </button>
  </div>
  <div class="flex justify-between items-center space-x-8">
    <ul class="flex space-x-4">
      <li class="hover:text-slate-500 hover:scale-110 duration-300">
        <a href="https://github.com/AzizChanou" target="_blank">
          <Icon name="mdi:github" />
        </a>
      </li>
      <li class="hover:text-blue-500 hover:scale-110 duration-300">
        <a href="https://www.linkedin.com/in/aziz-chanou/" target="_blank">
          <Icon name="mdi:linkedin" />
        </a>
      </li>
      <li class="hover:text-blue-500 hover:scale-110 duration-300">
        <a href="https://twitter.com/azizchanou" target="_blank">
          <Icon name="mdi:twitter" />
        </a>
      </li>
      <li class="hover:text-pink-500 hover:scale-110 duration-300">
        <a href="https://twitter.com/azizchanou" target="_blank">
          <Icon name="mdi:instagram" />
        </a>
      </li>
    </ul>
    <ul class="flex space-x-1">
      <li class="group relative">
        <button
          id="download-cv"
          class="hover:bg-slate-100/30 p-2 duration-300 rounded-full hover:animate-wiggle"
        >
          <Icon name="mdi:file-document-arrow-right" class="text-3xl" />
        </button>
        <span
          class="invisible group-hover:visible absolute top-12 left-1/2 translate-x-[-50%] duration-300 text-sm text-nowrap"
          >Télécharger mon CV</span
        >
      </li>
      <li class="group relative">
        <button
          id="theme-button"
          class="hover:bg-slate-100/30 p-2 duration-300 rounded-full hover:animate-wiggle"
        >
          <Icon name="mdi:theme-light-dark" class="text-3xl" />
        </button>
        <span
          class="invisible group-hover:visible absolute top-12 left-1/2 translate-x-[-50%] duration-300 text-sm text-nowrap"
          >Switcher de thème</span
        >
      </li>
    </ul>
  </div>
</header>

<script>
  const downloadCvButton = document.getElementById("download-cv");
  const themeButton = document.getElementById("theme-button");

  function toggleTheme() {
    const body = document.body;
    body.classList.toggle("invert");
    if (localStorage.theme === "dark") {
      localStorage.theme = "light";
    } else {
      localStorage.theme = "dark";
    }
  }

  async function downloadFile() {
    const url = `/download/Aziz_CHANOU_CV.pdf`;

    const response = await fetch(url, {
      method: "GET",
    });

    if (response.status !== 200) {
      throw new Error(
        `Téléchargement du fichier Aziz_CHANOU_CV.pdf a échoué. Code d'erreur : ${response.status}`,
      );
    }

    const fileData = await response.blob();

    const downloadLink = document.createElement("a");
    downloadLink.href = window.URL.createObjectURL(fileData);
    downloadLink.download = "Aziz_CHANOU_CV.pdf";

    document.body.appendChild(downloadLink);
    downloadLink.click();

    document.body.removeChild(downloadLink);
  }

  themeButton?.addEventListener("click", toggleTheme);
  downloadCvButton?.addEventListener("click", downloadFile);
</script>
