---
import { Icon } from "astro-icon/components";
---

<header class="flex justify-between py-10 w-full text-2xl">
  <div class="flex justify-between">
    <ul class="flex space-x-4 font-jost">
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/articles">Articles</a></li>
      <li><a href="/contacts">Contacts</a></li>
    </ul>
  </div>
  <div class="flex justify-between">
    <ul class="flex space-x-4">
      <li>
        <Icon name="mdi:github" />
      </li>
      <li>
        <Icon name="mdi:linkedin" />
      </li>
      <li>
        <Icon name="mdi:twitter" />
      </li>
      <li>
        <Icon name="mdi:instagram" />
      </li>
    </ul>
  </div>
</header>
