---
import { Icon } from "astro-icon/components";
import HMenu from "./HMenu.astro";
import { siteConfig } from "@/consts";
---

<header class="flex items-center justify-between text-2xl m-4 md:py-6">
  <div class="flex justify-between items-center">
    <button id="navMenu">
      <HMenu class="size-6" />
    </button>
    <ul class="hidden space-x-4 md:flex">
      {
        siteConfig.navLinks.map((link) => (
          <li class="hover:text-slate-300 duration-300">
            <a href={link.url}>{link.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="flex items-center gap-x-6">
    <ul class="flex items-center gap-x-4">
      <li class="hover:text-slate-500 hover:scale-110 duration-300">
        <a
          rel="noopener"
          target="_blank"
          aria-label="Github"
          href="https://github.com/AzizChanou"
        >
          <Icon name="mdi:github" />
        </a>
      </li>
      <li class="hover:text-blue-500 hover:scale-110 duration-300">
        <a
          rel="noopener"
          target="_blank"
          aria-label="LinkedIn"
          href="https://www.linkedin.com/in/aziz-chanou/"
        >
          <Icon name="mdi:linkedin" />
        </a>
      </li>
      <li class="hover:text-blue-500 hover:scale-110 duration-300">
        <a
          rel="noopener"
          target="_blank"
          aria-label="LinkedIn"
          href="https://twitter.com/azizchanou"
        >
          <Icon name="mdi:twitter" />
        </a>
      </li>
      <li class="hover:text-pink-500 hover:scale-110 duration-300">
        <a
          rel="noopener"
          target="_blank"
          aria-label="Instagram"
          href="https://instagram.com/azizchanoux"
        >
          <Icon name="mdi:instagram" />
        </a>
      </li>
    </ul>
    <div class="group relative flex items-center">
      <button
        id="download-cv"
        aria-label="Télécharger mon CV"
        class="hover:bg-slate-100/30 duration-300 rounded-full hover:animate-wiggle"
      >
        <Icon name="mdi:file-download" class="text-3xl" />
      </button>
      <span
        class="invisible group-hover:visible absolute top-12 left-1/2 translate-x-[-50%] duration-300 text-sm"
        >Télécharger mon CV</span
      >
    </div>
  </div>
</header>

<script>
  const downloadCvButton = document.getElementById("download-cv");
  const themeButton = document.getElementById("theme-button");

  function toggleTheme() {
    const body = document.body;
    body.classList.toggle("invert");
    if (localStorage.theme === "dark") {
      localStorage.theme = "light";
    } else {
      localStorage.theme = "dark";
    }
  }

  async function downloadFile() {
    const url = `/download/Aziz_CHANOU_CV.pdf`;

    const response = await fetch(url, {
      method: "GET",
    });

    if (response.status !== 200) {
      throw new Error(
        `Téléchargement du fichier Aziz_CHANOU_CV.pdf a échoué. Code d'erreur : ${response.status}`
      );
    }

    const fileData = await response.blob();

    const downloadLink = document.createElement("a");
    downloadLink.href = window.URL.createObjectURL(fileData);
    downloadLink.download = "Aziz_CHANOU_CV.pdf";

    document.body.appendChild(downloadLink);
    downloadLink.click();

    document.body.removeChild(downloadLink);
  }

  themeButton?.addEventListener("click", toggleTheme);
  downloadCvButton?.addEventListener("click", downloadFile);
</script>
