<div>
  <div class="relative w-full h-full flex flex-col justify-center items-center">
    <div>
      <h4 class="text-start text-4xl font-medium">Hi, I'm</h4>
      <h1 class="text-7xl md:text-[200px] font-montserrat-alternates font-bold">
        <span>Aziz</span>
        <span class="text-4xl md:text-6xl">CHANOU</span>
      </h1>
      <h4 class="text-end text-4xl font-medium">Software engineer <span class="animate-pulse">|</span></h4>
    </div>
  </div>
</div>
