---
import { Icon } from "astro-icon/components";
---

<div>
  <div
    class="relative w-full h-full flex flex-col justify-center items-center"
  >
    <div class="py-14">
      <h4 class="text-start text-4xl font-medium">Hi, I'm</h4>
      <h1 class="text-[200px] font-montserrat-alternates font-bold">
        <span>Aziz</span>
        <span class="text-6xl">CHANOU</span>
      </h1>
      <h4 class="text-end text-4xl font-medium">Software engineer</h4>
    </div>
    <div class="w-full flex justify-center items-center">
      <a href="#pricing">
        <Icon name="mdi:chevron-down" class="text-5xl animate-bounce" />
      </a>
    </div>
  </div>
</div>
