---
import { Icon } from "astro-icon/components";
---

<div
  id="menu"
  class="transition-all ease-in-out duration-500 flex overflow-hidden fixed top-0 left-0 h-full text-white z-40 bg-black flex-col justify-between md:hidden w-0 text-3xl"
>
  <div class="h-full flex justify-center items-center">
    <ul id="menuList" class="flex flex-col space-y-6 font-medium text-center">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/stack">Stack</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/contacts">Contacts</a>
      </li>
    </ul>
  </div>
  <span class="block justify-center p-10">
    <ul class="flex flex-wrap justify-center gap-6">
      <li class="hover:text-slate-500 hover:scale-110 duration-300">
        <a
          rel="noopener"
          target="_blank"
          aria-label="Github"
          href="https://github.com/AzizChanou"
        >
          <Icon name="mdi:github" />
        </a>
      </li>
      <li class="hover:text-blue-500 hover:scale-110 duration-300">
        <a
          rel="noopener"
          target="_blank"
          aria-label="LinkedIn"
          href="https://www.linkedin.com/in/aziz-chanou/"
        >
          <Icon name="mdi:linkedin" />
        </a>
      </li>
      <li class="hover:text-blue-500 hover:scale-110 duration-300">
        <a
          rel="noopener"
          target="_blank"
          aria-label="LinkedIn"
          href="https://twitter.com/azizchanou"
        >
          <Icon name="mdi:twitter" />
        </a>
      </li>
      <li class="hover:text-pink-500 hover:scale-110 duration-300">
        <a
          rel="noopener"
          target="_blank"
          aria-label="Instagram"
          href="https://instagram.com/azizchanoux"
        >
          <Icon name="mdi:instagram" />
        </a>
      </li>
    </ul>
  </span>
</div>

<script>
  const menuList = document.querySelector("#menuList") as HTMLElement;
  const navMenu = document.querySelector("#navMenu") as HTMLElement;
  const menu = document.querySelector("#menu") as HTMLElement;

  const toggleMenu = () => {
    navMenu.classList.toggle("active");
    menu.classList.toggle("w-full");
    menu.classList.toggle("w-0");
  };

  navMenu.addEventListener("click", () => {
    toggleMenu();
  });

  menuList.children[0].addEventListener("click", () => {
    toggleMenu();
  });
  menuList.children[1].addEventListener("click", () => {
    toggleMenu();
  });
  menuList.children[2].addEventListener("click", () => {
    toggleMenu();
  });
  menuList.children[3].addEventListener("click", () => {
    toggleMenu();
  });
  menuList.children[4].addEventListener("click", () => {
    toggleMenu();
  });
</script>
