---
import { Icon } from "astro-icon/components";
---

<div
  id="menu"
  class="transition-all ease-in-out duration-500 flex overflow-hidden fixed top-0 left-0 h-full text-white z-40 bg-black flex-col justify-between md:hidden w-0"
>
  <div class="p-8 py-20">
    <ul
      id="menuList"
      class="flex flex-col space-y-6 font-medium divide-y-2 divide-y-reverse"
    >
      <li></li>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/stack">Stack</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/contacts">Contacts</a>
      </li>
    </ul>
  </div>
  <span class="block justify-center p-10">
    <div class="flex flex-wrap justify-center gap-6 mt-6">
      <a href="https://web.facebook.com/studiomcandco" target="blank">
        <Icon
          name="mdi:facebook"
          class="hover:scale-105 hover:text-blue-400 text-xl duration-500"
        />
      </a>
      <a href="https://www.instagram.com/studiomcandco" target="blank">
        <Icon
          name="mdi:instagram"
          class="hover:scale-105 hover:text-red-400 text-xl duration-500"
        />
      </a>
      <a href="https://www.linkedin.com/company/studiomcandco" target="blank">
        <Icon
          name="mdi:linkedin"
          class="hover:scale-105 hover:text-blue-500 text-xl duration-500"
        />
      </a>
      <a href="https://twitter.com/studiomcandco" target="blank">
        <Icon
          name="mdi:twitter"
          class="hover:scale-105 hover:text-blue-300 text-xl duration-500"
        />
      </a>
    </div>
  </span>
</div>

<script>
  const menuList = document.querySelector("#menuList") as HTMLElement;
  const navMenu = document.querySelector("#navMenu") as HTMLElement;
  const menu = document.querySelector("#menu") as HTMLElement;

  const toggleMenu = () => {
    navMenu.classList.toggle("active");
    menu.classList.toggle("w-full");
    menu.classList.toggle("w-0");
  };

  navMenu.addEventListener("click", () => {
    toggleMenu();
  });

  menuList.children[1].addEventListener("click", () => {
    toggleMenu();
  });
  menuList.children[2].addEventListener("click", () => {
    toggleMenu();
  });
  menuList.children[3].addEventListener("click", () => {
    toggleMenu();
  });
  menuList.children[4].addEventListener("click", () => {
    toggleMenu();
  });
  menuList.children[5].addEventListener("click", () => {
    toggleMenu();
  });
</script>
