---
import { Icon } from "astro-icon/components";
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const scrollToTopButton = document.getElementById("top");

    if (scrollToTopButton)
      scrollToTopButton.addEventListener("click", function () {
        window.scrollTo({ top: 0, behavior: "smooth" });
      });

    window.addEventListener("scroll", function () {
      const scrollTop = window.scrollY;
      if (scrollTop > 0) {
        if (scrollToTopButton) scrollToTopButton.style.display = "flex";
      } else {
        if (scrollToTopButton) scrollToTopButton.style.display = "none";
      }
    });
  });
</script>

<button
  id="top"
  class="fixed bottom-8 right-8 md:bottom-12 md:right-14 rounded size-10 text-3xl text-black bg-white hidden justify-center items-center"
>
  <Icon transition:name="fade" name="mdi:chevron-up" />
</button>
