---
import Default from "../../layouts/Default.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("projects");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"projects">;
const post = Astro.props;
const { Content } = await post.render();
---

<Default {...post.data}>
  <article class="space-y-4 max-w-(--breakpoint-lg) mx-auto">
    <h1
      class="text-4xl md:text-6xl text-center font-montserrat-alternates font-semibold"
    >
      {post.data.title}
    </h1>
    <img
      src={post.data.heroImage}
      alt={post.data.title}
      width="100%"
      height="100%"
      class="w-full h-full max-h-96 object-cover rounded"
      loading="lazy"
    />
    <div class="w-full flex justify-center text-justify">
      <div class="p-2 rounded w-full prose">
        <Content />
      </div>
    </div>
  </article>
</Default>
