---
import ScrollToTop from "../components/ScrollToTop.astro";
import BaseHead from "../components/BaseHead.astro";
import HeadBar from "../components/HeadBar.astro";
import FootBar from "../components/FootBar.astro";
import DotPointer from "../components/DotPointer.astro";
import MobileMenu from "../components/MobileMenu.astro";
import { Image } from "astro:assets";
import { generateImageUrl } from "@/utils";

const { title, description, image } = Astro.props;
---

<!doctype html>
<html data-theme="dark" lang="fr" class="lenis lenis-smooth">
  <BaseHead title={title} description={description} image={image} />
  <body class="bg-slate-950 text-white font-jost relative">
    <DotPointer />
    <main
      class="min-h-dvh h-full flex flex-col max-w-7xl mx-auto"
    >
      <HeadBar />
      <MobileMenu />
      <div class="flex flex-col px-6 mb-auto">
        <div id="swup" class="w-full h-full transition-fade">
          <slot />
        </div>
        <ScrollToTop />
      </div>
      <FootBar />
    </main>
    <Image
      src={generateImageUrl("/img/pxfuel.jpg")}
      class="fixed top-0 -z-50 h-full w-full object-cover blur-lg opacity-20"
      alt="Background"
      loading="lazy"
      fetchpriority="high"
      height={600}
      width={1200}
    />
  </body>
</html>
