---
// import i18next from "i18next";
import ScrollToTop from "../components/ScrollToTop.astro";
import BaseHead from "../components/BaseHead.astro";
import HeadBar from "../components/HeadBar.astro";
import FootBar from "../components/FootBar.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<!-- <html lang={i18next.language} data-theme="dark"> -->
<html data-theme="dark">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="h-screen w-screen bg-black text-white overflow-x-hidden overscroll-y-auto"
  >
    <main class="relative h-full w-full">
      <div
        id="swup"
        id="__top"
        class="max-w-screen-xl mx-auto p-6 flex flex-col justify-between h-full transition-fade"
      >
        <HeadBar />
        <slot />
        <FootBar />
        <ScrollToTop />
      </div>
      <img
        src="/img/pxfuel.jpg"
        alt="gradient"
        class="thumbnail absolute -top-[1rem] -z-50 blur-lg object-cover overflow-hidden"
        loading="lazy"
      />
    </main>
    <script>
      import simpleParallax from "simple-parallax-js";
      import Swup from "swup";

      const swup = new Swup();

      var image = document.getElementsByClassName("thumbnail");
      new simpleParallax(image, {
        orientation: "right",
      });
    </script>
  </body>
</html>
