---
import ScrollToTop from "../components/ScrollToTop.astro";
import BaseHead from "../components/BaseHead.astro";
import HeadBar from "../components/HeadBar.astro";
import FootBar from "../components/FootBar.astro";
import DotPointer from "../components/DotPointer.astro";
import MobileMenu from "../components/MobileMenu.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html data-theme="dark" lang="fr" class="lenis lenis-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="max-h-dvh h-full w-full bg-slate-950 text-white overflow-x-hidden relative overscroll-y-auto font-jost duration-1000"
  >
    <DotPointer />
    <main class="min-h-dvh w-full max-w-screen-xl mx-auto">
      <div
        class="mx-auto flex flex-col justify-between px-6 min-h-dvh h-full w-full"
      >
        <div class="h-full w-full">
          <MobileMenu />
          <HeadBar />
          <div id="swup" class="transition-fade w-full h-full">
            <slot />
          </div>
        </div>
        <ScrollToTop />
        <FootBar />
      </div>
    </main>
    <video
      src="/videos/background.mp4"
      class="thumbnail fixed h-full w-full top-0 left-0 -z-50 blur-md object-cover overflow-hidden"
      preload="auto"
      loop
      muted
      autoplay
    >
    </video>
  </body>
</html>
